//Form
{}

//Section title
.forminator-title{}

//Section Subtitles
.forminator-subtitle {}

//field Labels
.forminator-label {}

//field Description
.forminator-description {}

//input
.forminator-input {}

//text area
.forminator-textarea {}
